<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="./mockup/video.css"> </head>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}

	<table n:ifset="$videos" class="table table-striped table-bordered">
		<thead>
			<tr><th>Name</th><th>Created</th><th>State</th><th>Published</th><th>Recorded</th><th>Duration</th><th>Abstract</th><th>Public link</th><th>Tokens</th></tr>
		</thead>
		<tbody>
			<tr n:foreach="$videos as $video">
				<td>{$video->name}</td>
				<td>{$video->created|date:'j. n. Y - H:i:s'}</td>
				<td>{$video->ref('video_state', 'state')->name}</td>
				<td>{$video->published}</td>
				<td>{$video->record_begin} - {$video->record_end}</td>
				<td>{$video->duration}</td>
				<td>{$video->abstract}</td>
				<td>{$video->public_link}</td>
				<td>
					({count($tokens[$video->id])})<br>
					{foreach $tokens[$video->id] as $token}
						{$token->ref('token_state', 'state')->name}<br>
					{/foreach}
				</td>
			</tr>
			<tr n:if="!count($videos)"><td colspan="7">No videos yet.<td></tr>
		</tbody>
	</table>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
