<h2>{_'Menu'}</h2>
<div class="list-group">

  <a href="{plink 'Videos:published'}" class="list-group-item list-group-item-action{ifset $videos} active{/ifset}">
    {_'Videos'}
  </a>

  <a href="{plink 'Files:all'}" class="list-group-item list-group-item-action{ifset $files} active{/ifset}">
    {_'Files'}
  </a>

  <a n:if="$user->isInRole('admin')" href="{plink 'Processes:tokens'}" class="list-group-item list-group-item-action{ifset $processes} active{/ifset}">
    {_'Tasks and templates'}
  </a>

  <a n:if="$user->isInRole('admin')" href="{plink 'Users:'}" class="list-group-item list-group-item-action{ifset $users} active{/ifset}">
    {_'Users'}
  </a>

  <a href="{plink ':Front:Homepage:default'}" class="list-group-item list-group-item-action">
    <i class="fa fa-share"></i> {_'back to videoportal'}
  </a>

</div>
