# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Config: 'v1.0'
# Language: 'cs_CZ'

'logout_cas_timeout' : 'Došlo k odhlášení z CAS FIT VUT.'
'login_cas_ok' : 'Přihlášení pomocí CAS FIT VUT proběhlo úspěšně.'
'login_cas_err' : 'Přihlášení pomocí CAS FIT VUT se nezdařilo, zkuste to znovu.'
'logout_ok' : 'Odhlášení úspěšné.'
'save_ok' : 'Změny byly úspěšně uloženy.'
'save_no_change' : 'Uloženo beze změny.'
'save_failed' : 'Provedené změny nebylo možné uložit!'
'video_tag_failed' : 'Videu nebylo možné nastavit tag "%name%" s hodnotou "%value%"!'
'video_delete_successfully' : 'Video "%name%" bylo úspěsně smazáno."'
'video_delete_failed' : 'Při odstraňování videa "%name%" došlo k chybě!'
'video_upload_successfully' : 'Video bylo nahráno a předáno ke zpracování.'
'video_upload_failed' : 'Video se nepodařilo nahrát.'
'run_task_ok' : 'Úloha byla úspěšně vytvořena.'
'run_task_failed' : 'Úlohu se nepodařilo spustit!'
'empty_role_or_value' : 'Zvolte roli, uživatele a poté akci zopakujte.'
'role_exists' : 'Uživatel již tuto roli má!'
'role_remove_error' : 'Vztah nelze smazat, zkuste načíst stránku znovu, nebo kontaktujte administrátora.'
'role_format_error' : 'Neplatný formát uživatele, zkuste to znovu, nebo kontaktujte administrátora.'
'role_no_user_error' : 'Uživatel nenalezen, zkuste to znovu, nebo kontaktujte administrátora.'
'role_ambiguous_user_error' : 'Nejednoznačné zadání uživatele, kontaktujte administrátora.'
