# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Config: 'v1.0'
# Language: 'en_GB'

'logout_cas_timeout' : 'You have been logged out of CAS FIT BUT.'
'login_cas_ok' : 'You have been logged in via CAS FIT BUT.'
'login_cas_err' : 'CAS FIT BUT authentication failed, try it again.'
'logout_ok' : 'You have been logged out.'
'save_ok' : 'Changes successfully saved.'
'save_no_change' : 'Saved but nothing was changed.'
'save_failed' : 'Saving the changes failed!'
'video_tag_failed' : 'Can not set a tag "%name%" with a value of "%value%"!'
'video_delete_successfully' : 'Video "%name%" successfully removed."'
'video_delete_failed' : 'Unable to remove video "%name%", an error occured!'
'video_upload_successfully' : 'Video successfully uploaded and is being processed.'
'video_upload_failed' : 'An error occured when uploading video.'
'run_task_ok' : 'Task was successfully created.'
'run_task_failed' : 'Unable to run task!'
'empty_role_or_value' : 'Choose role, person and retry.'
'role_exists' : 'User already has this role!'
'role_remove_error' : 'Unable to remove the role, refresh this page or contact the administrator.'
'role_format_error' : 'Invalid user format, retry or contact the administrator.'
'role_no_user_error' : 'User not found, retry or contact the administrator.'
'role_ambiguous_user_error' : 'User name and email is not unique, contact the administrator.'
