# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Config: 'v1.0'
# Language: 'en_GB'

'logout_cas_timeout' : 'You have been logged out of CAS FIT BUT.'
'login_cas_ok' : 'You have been logged in via CAS FIT BUT.'
'login_cas_err' : 'CAS FIT BUT authentication failed, try it again.'
'logout_ok' : 'You have been logged out.'
'save_ok' : 'Changes successfully saved.'
'save_no_change' : 'Saved but nothing was changed.'
'save_failed' : 'Saving the changes failed!'
'video_tag_failed' : 'Can not set a tag "%name%" with a value of "%value%"!'
'run_task_ok' : 'Task was successfully created.'
'run_task_failed' : 'Unable to run task!'
