# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Config: 'v1.0'
# Language: 'cs_CZ'

'logout_cas_timeout' : 'Došlo k odhlášení z CAS FIT VUT.'
'login_cas_ok' : 'Přihlášení pomocí CAS FIT VUT proběhlo úspěšně.'
'login_cas_err' : 'Přihlášení pomocí CAS FIT VUT se nezdařilo, zkuste to znovu.'
'logout_ok' : 'Odhlášení úspěšné.'
'save_ok' : 'Změny byly úspěšně uloženy.'
'save_no_change' : 'Uloženo beze změny.'
'save_failed' : 'Provedené změny nebylo možné uložit!'
'video_tag_failed' : 'Videu nebylo možné nastavit tag "%name%" s hodnotou "%value%"!'
'video_delete_successfully' : 'Video "%name%" bylo úspěsně smazáno."'
'video_delete_failed' : 'Při odstraňování videa "%name%" došlo k chybě!'
'run_task_ok' : 'Úloha byla úspěšně vytvořena.'
'run_task_failed' : 'Úlohu se nepodařilo spustit!'
