# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Database: 'v1.7'
# Language: 'cs_CZ'
# Table: 'template'

'name' : 'Název'
'description' : 'Popis'
