# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Database: 'v1.7'
# Language: 'en_GB'
# Table: 'token'

'video' : 'Video'
'template' : 'Template'
'type' : 'Type'
'created' : 'Created'
'last_update' : 'Updated'
'progress' : 'Progress'
'state' : 'State'
