# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Database: 'v1.6'
# Language: 'en_GB'
# Table: 'video'

'name' : 'Title'
'created' : 'Created'
'record_begin' : 'Recording start'
'record_end' : 'Recording end'
'duration' : 'Duration'
'abstract' : 'Abstract'
'state' : 'Visibility'
'tags' : 'Tags'
'name_placeholder' : 'Video title'
'delete' : 'Delete video'
