# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Database: 'v1.6'
# Language: 'cs_CZ'
# Table: 'video'

'name' : 'Název'
'record_begin' : 'Začátek nahrávky'
'record_end' : 'Konec nahrávky'
'state' : 'Viditelnost'
'tags' : 'Štítky'
