# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Database: 'v1.6'
# Language: 'cs_CZ'
# Table: 'video'

'name' : 'Název'
'created' : 'Vytvořeno'
'date' : 'Datum nahrávky'
'time' : 'Čas nahrávky'
'duration' : 'Délka'
'abstract' : 'Abstrakt'
'state' : 'Viditelnost'
'tags' : 'Štítky'
'name_placeholder' : 'Název videa'
'role' : 'role'
'delete' : 'Smazat video'
