#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
# Config: 'v1.0'

parameters:
	admin_email: 'xkudla15@vut.cz'
	structure_tag:
		- branch
		- semester
		- course
		- type
	user_role:
		- guest
		- student
		- teacher
		- admin
	cas:
		url: https://cas.fit.vutbr.cz
		reauth_timeout: 60
		cookie: cosign-FIT-Prednasky

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter

	- App\Model\Parameters(@container::getParameters())
	- App\Model\VideoManager(@container::getParameters())
	- App\Model\FileManager(@container::getParameters())
	- App\Model\TokenManager(@container::getParameters())
	- App\Model\UserManager(@container::getParameters())

	acl:
		factory: Nette\Security\Permission
		setup:
			- addRole(guest)
			- addRole(student, guest)
			- addRole(teacher, student)
			- addRole(admin, teacher)

extensions:
	mailing: Ublaboo\Mailing\DI\MailingExtension
	console: Kdyby\Console\DI\ConsoleExtension
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	default: cs_CZ
	fallback: [en_GB]

tracy:
	email: 'xkudla15@vut.cz'
	fromEmail: 'log-mailer@prednasky.fit.vutbr.cz'
