#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- App\Model\Parameters(@container::getParameters())
	- App\Model\VideoManager
	- App\Model\TokenManager


extensions:
	mailing: Ublaboo\Mailing\DI\MailingExtension
