#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
# Config: 'v1.0'

parameters:
	admin_email: 'xkudla15@vut.cz'
	required_tags:
		- branch
		- semester
		- course
		- type
	available_tags:

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter

	- App\Model\Parameters(@container::getParameters())
	- App\Model\VideoManager(@container::getParameters())
	- App\Model\FileManager(@container::getParameters())
	- App\Model\TokenManager

extensions:
	mailing: Ublaboo\Mailing\DI\MailingExtension
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	default: cs_CZ
	fallback: [en_GB]
