# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Language: 'cs_CZ'

'no_item_found_reset' : 'Žádné položky. Můžete zkusit resetovat filtry.'
'no_item_found' : 'Žádné položky.'
'here' : 'zde'
'items' : 'Položky'
'all' : 'vše'
'from' : 'z'
'reset_filter' : 'Resetovat filtr'
'group_actions' : 'Hromadné akce'
'show' : 'Zobrazit'
'add' : 'Přidat'
'edit' : 'Upravit'
'show_all_columns' : 'Zobraz všechny sloupce'
'show_default_columns' : 'Zobraz výchozí sloupce'
'hide_column' : 'Skrýt sloupec'
'action' : 'Akce'
'previous' : 'Předchozí'
'next' : 'Následující'
'choose' : 'Vybrat'
'choose_input_required' : 'Text hromadné akce nesmí být prázdný.'
'execute' : 'Vykonat'
'save' : 'Uložit'
'cancel' : 'Zrušit'
'multiselect_choose' : 'Vybrat'
'multiselect_selected' : 'zvoleno {0}'
'filter_submit_button' : 'Filtrovat'
'show_filter' : 'Zobrazit filtr'
'per_page_submit' : 'Změnit'
