"en" : "cs"
"Faculty of Information Technology, BUT" : "Fakulta informačních technologií VUT v Brně"
"Administration" : "Administrace"
"Not logged" : "Nepřihlášen"
"Logout" : "Odhlásit"
"Sign in" : "Přihlásit"
"Website" : "Webové stránky"
"Language" : "Jazyk"
"Czech" : "Čeština"
"English" : "English"
" • Czech Republic" : ""
"Menu" : "Menu"
"Videos" : "Videa"
"Files" : "Soubory"
"Tasks and templates" : "Úlohy a šablony"
"back to videoportal" : "zpět na videoportál"
"All" : "Všechny"
"Attachments" : "Přílohy"
"Attached" : "Připojené"
"Unused" : "Nepoužité"
"Processing" : "Zpracovávané"
"Tasks" : "Úlohy"
"Templates" : "Šablony"
"Create new template" : "Vytvořit novou šablonu"
"Back" : "Zpět"
"Edit template" : "Upravit šablonu"
"Delete template" : "Smazat šablonu"
"Run template" : "Spustit šablonu"
"Edit video" : "Upravit video"
"Video editor" : "Video editor"
"Basic information" : "Základní informace"
"Related videos" : "Související videa"
"Video creator" : "Sestříhat video"
"Upload video" : "Nahrát video"
"Published" : "Zveřejněno"
"Private" : "Neveřejné"
"Pick a course" : "Vyberte kurz"
"Videoportal" : "Videoportál"
"Dashboard" : "Administrace"
"Access Denied" : "Přístup odmítnut"
"Page Not Found" : "Stránka nenalezena"
"Method Not Allowed" : "Nepovolená metoda"
"Oops..." : "Oops..."
"You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page." : "Nemáte oprávnění k zobrazení této stránky. Pokud se domníváte, že byste měli tuto stránku zobrazit, zkuste se obrátit na správce webu."
"The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists." : "Požadovaná stránka nebyla nalezena. Je možné, že je adresa nesprávná, nebo že stránka již neexistuje."
"The requested method is not allowed for the URL." : "Požadovaná metoda není pro danou URL povolena."
"The page you requested has been taken off the site. We apologize for the inconvenience." : "Požadovaná stránka byla ze stránek odebrána. Omlouváme se za nepříjemnosti."
"Your browser sent a request that this server could not understand or process." : "Váš prohlížeč odeslal požadavek, který tento server nedokáže zpracovat."
"Main page" : "Úvodní stránka"
"Back to" : "Zpět na"
"New videos" : "Nová videa"
"Search" : "Hledat"
"No videos yet" : "Zatím žádná videa"
"Previous" : "Předchozí"
"Next" : "Další"
"No videos yet." : "Zatím žádná videa."
"Location" : "Umístění"
"Your browser does not support the video tag." : "Váš prohlížeč nepodporuje video tag."
"Video is not available." : "Video není k dispozici."
"Upload from computer" : "Nahrát z počítače"
"Upload from YouTube" : "Nahrát z YouTube"
"The section is being prepared" : "Sekce se připravuje"
"Feel free to send your suggestions, complains and bugs to " : "Návrhy, problémy a připomínky zasílejte na"
