<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="shortcut icon" href="{$basePath}/img/fit_icon.png" />

	<title>{ifset title}{include title|stripHtml} | {/ifset}Prednasky.com</title>
</head>

<body>

	<header class="py-3 container">
		<div class="row">
			<div class="col-5"><a href="{plink Homepage:default}{_'en'}"><img class="img-fluid d-block" src="{$basePath}/img/fit_color_rgb_{_'en'}.png"></a></div>
			<div class="col-7"><h1 class="display-2 text-secondary p-0 m-0">{_'Administration'}</h1></div>
		</div>
	</header>

	<nav class="navbar navbar-expand-md bg-primary navbar-dark p-1">
		<div class="container">
			<div class="navbar-brand"><i class="fa fa-lg fa-user"></i><b> {_'User'}: </b>{if $user->loggedIn}{$user->identity->fullname}{else}{_'Not logged'}{/if}</div>
			<a class="btn btn-secondary" href="
				{if $user->loggedIn}{plink ":Front:Sign:out"}">{_'Logout'} <i class="fa fa-lg fa-sign-out"></i>{else}{plink ":Front:Sign:in"}"><i class="fa fa-lg fa-sign-in"></i> {_'Sign in'}{/if}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
			  <a class="btn btn-primary mx-2" n:href=":Front:Homepage:default"><i class="fa fa-home fa-lg"></i> {_'Website'}</a>
			  <div class="btn-group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-flag"></i> {_'Language'}</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" n:href="Homepage:default locale=>cs">{_'Czech'}</a>
					<a class="dropdown-item" n:href="Homepage:default locale=>en">{_'English'}</a>
				</div>
			  </div>
			</div>
		</div>
	</nav>

	<main class="container pt-3">
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type, 'alert-dismissible fade show'">{$flash->message|translate}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <div class="row">
        {* Begin ListGroup *}
        <div class="col-md-3">
          {control dashboardMenu $presenter}
        </div>
        <div class="col-md-9">
          {include content}
        </div>
      </div>
    </div>
	</main>

	<footer class="bg-light text-muted py-2">
		<div class="container">
			<div class="row">
				<div class="align-self-center col-1"><a href="https://www.fit.vutbr.cz/" target="_blank"><img src="{$basePath}/img/fit_icon.png"></a></div>
				<div class="align-self-center col-11">
					<div class="container">
						<div class="row">
							<div class="align-self-center col-sm"><p class="m-0 text-right">Božetěchova 1/2 • 612 66 Brno{_' • Czech Republic'}</p></div>
							<div class="align-self-center col-sm"><p class="m-0 text-right">© {_'Faculty of Information Technology, BUT'}</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{block scripts}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{/block}

</body>

</html>
