<!DOCTYPE html>
<html lang="{_'en'}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Prednasky.com</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/resources/bootstrap/bootstrap.css">
	<link rel="shortcut icon" href="{$basePath}/resources/images/fit_icon.png">
</head>

<body>

	<header class="container">
		<div class="row">
			<div class="col-5">
				<a n:href="Homepage:default">
					<span class="d-inline-block h-100 align-middle"></span>
					<img class="img-fluid" src="{$basePath}/resources/images/fit_color_rgb_{_'en'}.png" alt="{_'Faculty of Information Technology, BUT'}">
				</a>
			</div>
			<div class="col-7"><h1 class="display-2 text-secondary p-0 m-0">{_'Administration'}</h1></div>
		</div>
	</header>

	<nav class="navbar navbar-expand-md bg-primary navbar-dark p-1">
		<div class="container">
			<div class="navbar-brand">
				<i class="fa fa-lg fa-user {if $user->isInRole('admin')}text-danger{elseif $user->isInRole('teacher')}text-warning{/if}"></i>
				<b>{if $user->loggedIn}{$user->identity->fullname}{else}{_'Not logged'}{/if}</b>
			</div>
			<a class="btn btn-secondary" href="
				{if $user->loggedIn}{plink ":Front:Sign:out"}">{_'Logout'} <i class="fa fa-lg fa-sign-out"></i>{else}{plink ":Front:Sign:in"}"><i class="fa fa-lg fa-sign-in"></i> {_'Sign in'}{/if}
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
			  <a class="btn btn-primary mx-2" n:href=":Front:Homepage:default"><i class="fa fa-home fa-lg"></i> {_'Website'}</a>
			  <div class="btn-group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-flag"></i> {_'Language'}</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" n:href="Homepage:default locale=>cs">{_'Czech'}</a>
					<a class="dropdown-item" n:href="Homepage:default locale=>en">{_'English'}</a>
				</div>
			  </div>
			</div>
		</div>
	</nav>

	<main class="container pt-3">
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type, 'alert-dismissible fade show'">{$flash->message|translate}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <div class="row">
        {* Begin ListGroup *}
        <div class="col-md-3">
          {control dashboardMenu $presenter}
        </div>
        <div class="col-md-9">
          {include content}
        </div>
      </div>
    </div>
	</main>

	<footer class="bg-light text-muted py-2">
		<div class="container">
			<div class="row">
				<div class="align-self-center col-1"><a href="https://www.fit.vutbr.cz/" target="_blank"><img src="{$basePath}/resources/images/fit_icon.png"></a></div>
				<div class="align-self-center col-11 p-0">
					<div class="container">
						<div class="row">
							<div class="align-self-center col-sm p-0"><p class="m-0 text-right">Božetěchova 1/2 • 612 66 Brno{_' • Czech Republic'}</p></div>
							<div class="align-self-center col-sm p-0"><p class="m-0 text-right">© {_'Faculty of Information Technology, BUT'}</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{block scripts}

		<script src="{$basePath}/resources/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="{$basePath}/resources/node_modules/popper.js/dist/popper.min.js"></script>
		<script src="{$basePath}/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="{$basePath}/resources/node_modules/nette-forms/src/assets/netteForms.min.js"></script>
		<script src="{$basePath}/resources/node_modules/nette.ajax.js/nette.ajax.js"></script>

		{ifset $resDatepicker}
			<link rel="stylesheet" type="text/css" href="{$basePath}/resources/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
			<script src="{$basePath}/resources/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		{/ifset}

		{ifset $resClockpicker} {* ClockPicker script *}
			<link rel="stylesheet" type="text/css" href="{$basePath}/resources/node_modules/clockpicker/dist/bootstrap4-clockpicker.min.css">
			<script type="text/javascript" src="{$basePath}/resources/node_modules/clockpicker/dist/bootstrap4-clockpicker.min.js"></script>
			<script type="text/javascript">
				$('.clockpicker').clockpicker();
			</script>
		{/ifset}

		{ifset $resDatagrid}
			<link rel="stylesheet" type="text/css" href="{$basePath}/resources/node_modules/ublaboo-datagrid/assets/dist/datagrid.min.css">
			{* Use this css for ajax spinners *}
			<link rel="stylesheet" type="text/css" href="{$basePath}/resources/node_modules/ublaboo-datagrid/assets/dist/datagrid-spinners.min.css">
			<script src="{$basePath}/resources/node_modules/ublaboo-datagrid/assets/dist/datagrid.min.js"></script>
			{* It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request *}
			<script src="{$basePath}/resources/node_modules/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.min.js"></script>
			{* Use this little extension for ajax spinners *}
			<script src="{$basePath}/resources/node_modules/ublaboo-datagrid/assets/dist/datagrid-spinners.min.js"></script>
		{/ifset}

		{ifset $resSelect}
			<link rel="stylesheet" type="text/css" href="{$basePath}/resources/selectize/selectize.bootstrap3.css">
			<script type="text/javascript" src="{$basePath}/resources/selectize/selectize.min.js"></script>
			<script>
				$('.select2').selectize();
			</script>
		{/ifset}

		{ifset $resTinymce}
			<script src="{$basePath}/resources/tinymce/tinymce.min.js"></script>
			<script>
				tinymce.init({
					selector: ".tinymce",
					plugins: [
						"advlist autolink link image lists charmap hr anchor",
						"code fullscreen media nonbreaking",
						"table textpattern"
					],
					toolbar1: "bold italic underline strikethrough subscript superscript | alignleft aligncenter alignright alignjustify | formatselect fontsizeselect table",
					toolbar2: "undo redo | bullist numlist | outdent indent blockquote | link unlink image media | nonbreaking | hr removeformat | charmap | fullscreen code",
					menubar: false,
					toolbar_items_size: 'small'{_tinymce.language|noescape}
				});
			</script>
		{/ifset}

		{ifset $resDropzone}
			<link rel="stylesheet" href="{$basePath}/resources/dropzone/dropzone.css">
			<script src="{$basePath}/resources/dropzone/dropzone.js"></script>
			<script>
				Dropzone.autoDiscover = false;
				new Dropzone('div.dropzone', {
					url: {plink uploadPart!},
					maxFiles: 1,
					chunking: true,
					forceChunking: true,
					maxFilesize: null,
					chunkSize: 6000000,
					timeout: 60000,
					dictDefaultMessage: {_'dropzone.defaultMessage'},
					dictFallbackMessage: {_'dropzone.fallbackMessage'},
					dictFallbackText: {_'dropzone.fallbackText'},
					dictFileTooBig: {_'dropzone.fileTooBig'},
					dictInvalidFileType: {_'dropzone.invalidFileType'},
					dictResponseError: {_'dropzone.responseError'},
					dictCancelUpload: {_'dropzone.cancelUpload'},
					dictUploadCanceled: {_'dropzone.uploadCanceled'},
					dictCancelUploadConfirmation: {_'dropzone.cancelUploadConfirmation'},
					dictRemoveFile: {_'dropzone.removeFile'},
					dictMaxFilesExceeded: {_'dropzone.maxFilesExceeded'},
					chunksUploaded: function(file, done) {
						let jqXHR = $.ajax({plink uploadEnd!}+'&id='+file.upload.uuid+'&filename='+file.name);
						jqXHR.done(function(data) {
							done();
							window.location.href = data;
						});
					}
				});
			</script>
		{/ifset}

		{* Initialize nette.ajax.js after loading the DOM. *}
		<script>
			$.nette.init();
		</script>

		{block selectizeCourseSelect /}

	{/block}

</body>

</html>
