# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Version: 'v1.0'
# Language: 'cs_CZ'

'language' : ",language: 'cs'"
