# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Config: 'v1.0'
# Language: 'cs_CZ'
# File: 'config.neon'

'branch' : 'kategorie'
'semester' : 'semestr'
'course' : 'kurz'
'type' : 'typ'
'disabled' : 'zablokován'
'guest' : 'návštěvník'
'student' : 'student'
'teacher' : 'učitel'
'admin' : 'administrátor'
