<script>

    function addShareLink(bttn) {
        let jqXHR = $.ajax({plink addLink! $video->id});
        jqXHR.done(function(data) {
            if (data.status === "ok") {
                addShareLinkDone(data, bttn)
            }
        });
    }

    function addShareLinkDone(data, bttn) {
        $(bttn).removeClass('btn-outline-primary');
        $(bttn).addClass('btn-outline-danger');
        bttn.innerText = {_'form.remove_link'};
        bttn.setAttribute('onclick','delShareLink(this)');

        let shareLinkEntry = $( '#shareLinkEntry' );
        shareLinkEntry.attr("value", data.message);
        shareLinkEntry.select();
    }

    function delShareLink(bttn) {
        let jqXHR = $.ajax({plink delLink! $video->id});
        jqXHR.done(function(data) {
          if (data.status === "ok") {
            delShareLinkDone(data, bttn)
          }
        });
    }

    function delShareLinkDone(data, bttn) {
        $(bttn).removeClass('btn-outline-danger');
        $(bttn).addClass('btn-outline-primary');
        bttn.innerText = {_'form.create_link'};
        bttn.setAttribute('onclick','addShareLink(this)');

        let shareLinkEntry = $( '#shareLinkEntry' );
        shareLinkEntry.attr("value", {_'form.no_share_link'});
    }

    function removePeople(bttn) {
        let rootElement = bttn.parentElement.parentElement;
        let jqXHR = $.ajax({
            method: "POST",
            url: {plink removePeople!},
            data: {
                role: rootElement.getElementsByClassName('frm-usr-role')[0].value,
                name: rootElement.getElementsByClassName('frm-usr-name')[0].value,
                show_email: rootElement.getElementsByClassName('frm-usr-show_email')[0].checked
            }
        });
        jqXHR.fail(function (data) {
            alert(data.responseJSON.status);
        });
        jqXHR.done(function() {
            bttn.parentElement.parentElement.remove();
        });
    }

    function addPeople(bttn) {
        let role = bttn.parentElement.parentElement.getElementsByClassName('frm-usr-role')[0];
        let name = bttn.parentElement.parentElement.getElementsByClassName('frm-usr-name')[0];
        let show_email = bttn.parentElement.parentElement.getElementsByClassName('frm-usr-show_email')[0];
        if (role.value < 0 || name.value === "") {
            alert('{_alert.empty_role_or_value|noescape}')
        }
        else {
            let jqXHR = $.ajax({
                method: "POST",
                url: {plink addPeople!},
                data: {
                    role: role.value,
                    name: name.value,
                    show_email: show_email.checked
                }
            });
            jqXHR.fail(function (data) {
                alert(data.responseJSON.status);
            });
            jqXHR.done(function () {
                let checked = '';
                if (show_email.checked) checked = ' checked';

                bttn.parentElement.parentElement.insertAdjacentHTML('beforebegin', `
            <div class="row my-1">
              <div class="align-self-center col-md-2">
                <select name="role" class="custom-select frm-usr-role p-0" disabled>
                  <option value="` + role.value + `" selected>` + role.selectedOptions[0].text + `</option>
                </select>
              </div>
              <div class="col-md-6">
                <input type="text" disabled class="form-control frm-usr-name" value="` + name.value + `">
              </div>
              <div class="align-self-center col-md-2">
                <div class="form-check m-0">
                  <label class="form-check-label"><input type="checkbox" disabled class="form-check-input frm-usr-show_email"` + checked + `> Show email </label>
                </div>
              </div>
              <div class="align-self-center col-md-2">
                <button type='button' onclick="removePeople(this)" class="btn btn-light text-danger"><i class="fa fa-times" aria-hidden="true"></i> {_'form.remove'|noescape}</button>
              </div>
            </div>
        `);
                name.selectize.clear();
                role.value = '-1';
                name.value = '';
                show_email.checked = '';
            });
        }
    }

    function removeRelation(bttn) {
        let rootElement = bttn.parentElement.parentElement;
        let jqXHR = $.ajax({
            method: "POST",
            url: {plink removeRelation!},
            data: {
                type: rootElement.getElementsByClassName('frm-relation-type')[0].value,
                video: rootElement.getElementsByClassName('frm-relation-video')[0].value,
            }
        });
        jqXHR.fail(function (data) {
            alert(data.responseJSON.status);
        });
        jqXHR.done(function() {
            bttn.parentElement.parentElement.remove();
        });
    }

    function addRelation(bttn) {
        let type = bttn.parentElement.parentElement.getElementsByClassName('frm-relation-type')[0];
        let video = bttn.parentElement.parentElement.getElementsByClassName('frm-relation-video')[0];
        if (type.value < 0 || video.value === "") {
            alert('{_alert.empty_relation_type_or_video|noescape}')
        }
        else {
            let jqXHR = $.ajax({
                method: "POST",
                url: {plink addRelation!},
                data: {
                    type: type.value,
                    video: video.value,
                }
            });
            jqXHR.fail(function (data) {
                alert(data.responseJSON.status);
            });
            jqXHR.done(function (data) {
                bttn.parentElement.parentElement.insertAdjacentHTML('beforebegin', `
                    <div class="row my-1">
                      <div class="align-self-center col-md-3">
                        <select name="role" class="custom-select frm-usr-role p-0" disabled>
                          <option value="` + type.value + `" selected>` + type.selectedOptions[0].text + `</option>
                        </select>
                      </div>
                      <div class="col-md-7">
                        <input type="hidden" class="form-control frm-relation-video" value="` + video.value + `">
                        <a href="{$linkVideoEdit|noescape}` + video.value + `" class="row btn btn-light d-flex">
                          <div class="col-auto"><i class="fa fa-film text-muted fa-lg d-block py-2"></i></div>
                            <div class="col">
                            <div class="row"><span>` + data.videoTo.name + `</span></div>
                            <div class="row small text-muted">
                            <i class="fa fa-calendar p-1" aria-hidden="true"></i>
                            ` + data.videoTo.recorded + `
                            <i class="fa fa-clock-o p-1 pl-3" aria-hidden="true"></i>
                            ` + data.videoTo.duration + `
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="align-self-center col-md-2">
                        <button type='button' onclick="removeRelation(this)" class="btn btn-light text-danger"><i class="fa fa-times" aria-hidden="true"></i> {_'form.remove'|noescape}</button>
                      </div>
                    </div>
                `);
                video.selectize.clear();
                type.value = '-1';
                video.value = '';
            });
        }
    }
</script>
