<div class="form-group my-2">
  {foreach $relatedVideos as $rows}
    <label>{_'relation_type.'.$rows[0]['relation_type_name'], count($rows)}:</label>
    {foreach $rows as $row}
      <div class="row my-1">
        <div class="col-md-3 align-self-center">
          <select name="role" class="custom-select frm-relation-type p-0" disabled>
            <option value="{$row['relation_type_id']}">{_'relation_type.'.$row['relation_type_name'],1}</option>
          </select>
        </div>
        <div class="col-md-7">
          <input type="hidden" class="form-control frm-relation-video" value="{$row['video_id']}">
          <a href="{plink Video:edit $row['video_id']}" class="row btn btn-light d-flex">
            <div class="col-auto">
              {ifset $row['thumbnail']}<img style="height:2rem" src="{$row['thumbnail']}">{else}<i class="fa fa-film text-muted fa-lg d-block py-2"></i>{/ifset}
            </div>
            <div class="col">
              <div class="row"><span>{$row['video_name']}</span></div>
                <div class="row small text-muted">
                  <i class="fa fa-calendar p-1" aria-hidden="true"></i>
                  {ifset $row['record_date']}{$row['record_date']|date:'j. n. Y'}
                    {ifset $row['record_time']}{$row['record_time']->h}{sprintf(':%02d', $row['record_time']->i)}{/ifset}
                  {else}??{/ifset}
                  <i class="fa fa-clock-o p-1 pl-3" aria-hidden="true"></i>
                  {ifset $row['duration']}{gmdate("H:i:s", $row['duration'])}{else}??{/ifset}
                </div>
              </div>
            </a>
        </div>
        <div class="col-md-2 align-self-center">
          <button type='button' onclick="removeRelation(this)" class="btn btn-light text-danger"><i class="fa fa-times" aria-hidden="true"></i> {_'form.remove'}</button>
        </div>
      </div>
    {/foreach}
  {/foreach}
  <label>{_'form.add'}:</label>
  <div class="row my-1">
    <div class="col-md-3">
      <select name="role" class="custom-select frm-relation-type p-0">
        <option value="-1" selected disabled>{_'form.choose'|noescape}</option>
        {foreach $relationTypes as $relation}<option value="{$relation->id}">{_'relation_type.'.$relation->name,1|noescape}</option>{/foreach}
      </select>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control frm-relation-video" id="frm-video-relation-search" placeholder="{_'form.start_typing'}">
    </div>
    <div class="col-md-2">
      <button type='button' onclick="addRelation(this)" class="btn btn-light text-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> {_'form.add'|noescape}</button>
    </div>
  </div>
</div>
