<script>

    function addShareLink(bttn) {
        let jqXHR = $.ajax({plink addLink! $video->id});
        jqXHR.done(function(data) {
            if (data.status === "ok") {
                addShareLinkDone(data, bttn)
            }
        });
    }

    function addShareLinkDone(data, bttn) {
        $(bttn).addClass('d-none');
        $( '#dShareLink' ).removeClass( "d-none" );

        let shareLinkEntry = $( '#shareLinkEntry' );
        shareLinkEntry.attr("value", data.message);
        shareLinkEntry.select();
    }

    function delShareLink(bttn) {
        let jqXHR = $.ajax({plink delLink! $video->id});
        jqXHR.done(function(data) {
            if (data.status === "ok") {
                delShareLinkDone(data, bttn)
            }
        });
    }

    function delShareLinkDone(data, bttn) {
        $(bttn).addClass('d-none');
        $( '#aShareLink' ).removeClass( "d-none" );

        let shareLinkEntry = $( '#shareLinkEntry' );
        shareLinkEntry.attr("value", {_'form.no_share_link'});
    }

</script>