# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Language: 'en_GB'

'video_empty_tag' : 'Tag "%tag%" cannot be empty!'
'video_empty_name' : 'Name of video cannot be empty!'
'template_empty_name' : 'Name of template cannot be empty!'
