# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Language: 'cs_CZ'

'start_typing' : 'Začněte psát...'
'date_format' : 'dd. mm. rrrr'
'time_format' : 'HH:MM'
'file_video' : 'Video soubor'
'course_not_owned' : 'Zadaný kurz není ve vaší správě!'
'course_empty' : 'U štítků je nutné vyplnit alespoň první štítek.'
'video_empty_name' : 'Název videa nemůže být prázdný!'
'template_empty_name' : 'Název šablony nemůže být prázdný!'
'save' : 'Uložit'
'upload' : 'Nahrát'
'edit' : 'Upravit'
'run' : 'Spustit'
'share_link' : 'Sdílet odkaz'
'no_share_link' : 'Bez soukromého odkazu'
'create_link' : 'Vytvořit odkaz'
'remove_link' : 'Odebrat odkaz'
'thumbnail' : 'Miniatura'
'remove_thumbnail' : 'Odebrat miniaturu'
'upload_thumbnail' : 'Nahrát miniaturu'
