# Project: 'prednasky.com'
# Language-Team: 'Vladan Kudlac <vladankudlac@gmail.com>'
# Content-Type: 'text/plain; charset=UTF-8'
#
# Language: 'en_GB'

'start_typing' : 'Start typing...'
'date_format' : 'dd. mm. yyyy'
'time_format' : 'HH:MM'
'file_video' : 'Video file'
'course_empty' : 'You have to fill in at least first tag.'
'video_empty_name' : 'Name of video cannot be empty!'
'template_empty_name' : 'Name of template cannot be empty!'
'url_empty' : 'URL cannot be empty!'
'save' : 'Save'
'upload' : 'Upload'
'edit' : 'Edit'
'run' : 'Run'
'share_link' : 'Share link'
'no_share_link' : 'No share link'
'create_link' : 'Create link'
'remove_link' : 'Remove link'
'thumbnail' : 'Thumbnail'
'remove_thumbnail' : 'Remove thumbnail'
'upload_thumbnail' : 'Upload thumbnail'
'confirm_video_delete' : 'Are you sure you want to delete the video?'
'show_email' : 'Show email'
'remove' : 'Remove'
'add' : 'Add'
'choose' : 'Choose'
'people' : 'People'
